/*   index.html   */

body {
    background-color: #454e87;
}
.image {
    text-align: center;
    margin-top: 4%;
}
.logo {
    border-radius: 50px;
    width: 13%;
}
.title {
    margin-top: -1%;
    text-align: center;
    font-family: Tahoma;
    font-size: 3rem;
    color: white;  
}
#head { height: 2rem; }
#subhead {
    color: #ffffff66;
    font-size: 43%;
}
.button {
    text-align: center;
    height: 4rem;
}
.list {
    padding: 1.5% 0 1.5% 0;
    width: 25%;
    border: none;
    border-radius: 10em;
    box-shadow: rgb(0 0 0 / 78%) 0px 10px 25px;
    font-size: 1rem;
    color: #454e87;
    font-family: Tahoma;
}
#addDetails {
    width: 10vw;
    float: right;
    border: none;
    border-radius: 15em;
    box-shadow: rgb(0 0 0 / 78%) 0px 10px 25px;
    color: #454e87;
    padding: 1%;
    margin-bottom: 2%;
}
#details {
    display:none;
    margin: 4%;
    width: 90%;
}
table {
    font-family: Tahoma;
    border-collapse: collapse;
    width: 100%;
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 22px, rgb(0 0 0 / 23%) 0px 0px 7px;
} 
td, th {
    text-align: left;
    padding: 8px;
}  
tr:nth-child(even) { background-color: #dddddd6e; }

/*  addDetails.html  */

.add {
    width: 7%;
    margin-bottom: -2%;
}
.head { margin-top: 1%; font-size: 2rem;}
.addPage { 
    margin: 6% 20% 0 20%;
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 22px, rgb(0 0 0 / 23%) 0px 0px 7px;
}
.addTitle {
    padding: 2% 0 2% 0;
    font-size: 1.5rem;
    font-family: Tahoma;
    color: #ddddddc4;
    text-align: center;
}
.form {
    display: flex;
    justify-content: center;
    font-family: Tahoma;
    font-size: 18px;
}
.form1 {
    display: flex;
}
.fields {
    justify-content: space-between;
    margin-left: 10%;
}
#adding {
    padding: 4.5% 0 4.5% 0;
    width: 12rem;
    border: none;
    border-radius: 10em;
    box-shadow: rgb(0 0 0 / 78%) 0px 10px 25px;
    font-size: 1rem;
    color: #454e87;
    font-family: Tahoma;
}
input {
    width: 140%;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #28272782;
    outline: none;
}
.home {
    font-size: 1.0rem; 
    float: right;
    margin-right: 13em;
}